@page "/addlanguage"
@model SportHub.Pages.Localization.AddLanguageModel
@{
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/AddLanguage.css" asp-append-version="true" />

</head>

<body>
      <div class="form-group">
        <div class="myMultiselectLable">Add language</div>
        <div id="myMultiselect" class="multiselect">
          
          <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
            <select class="form-select">
              <option>somevalue</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="mySelectOptions">
            <label for="en">English<input type="checkbox" id="en" onchange="checkboxStatusChange()" value="English" /></label>
            <label for="gr">German<input type="checkbox" id="gr" onchange="checkboxStatusChange()" value="German" /></label>
            <label for="fr">French<input type="checkbox" id="fr" onchange="checkboxStatusChange()" value="French" /></label>
          </div>
        </div>
      </div>

    <script src="~/js/AddLanguage.js" asp-append-version="true"></script>
</body>

</html>