/* _content/courses/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
p[b-kdm377npxk] {
    margin: 0;
}

.logo-link[b-kdm377npxk] {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 25px;
}

.logo[b-kdm377npxk] {
    width: 20%;
}

.link-container[b-kdm377npxk] {
    height: 10vh;
    background-color: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-space[b-kdm377npxk] {
    width: 60%;
    border: 1px solid lightgrey;
}

.header-container[b-kdm377npxk] {
    display: flex;
    flex-direction: row;
}

.user-container[b-kdm377npxk] {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-left: 0;
}

.switch-button[b-kdm377npxk] {
    width: 20%;
}

.user-info[b-kdm377npxk] {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-ava[b-kdm377npxk] {
    width: 20%;
}

.user-desc[b-kdm377npxk] {
    width: 80%;
}

.user-name[b-kdm377npxk] {
    font-weight: 700;
}

.user-role[b-kdm377npxk] {
    font-size: 12px;
    color: #7F7B7B;
}

.middle-header[b-kdm377npxk] {
    border: 1px solid #EDEDED;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.home[b-kdm377npxk] {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit[b-kdm377npxk] {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-header[b-kdm377npxk] {
    height: 5vh;
}

.bot-blank-space[b-kdm377npxk] {
    width: 80%;
}

.cancel[b-kdm377npxk]{
    color:#D72130
}

.changes[b-kdm377npxk] {
    color: #FFFFFF;
    background-color: #D72130;
    height: 5vh;
    width: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports[b-kdm377npxk] {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    color: #7F7B7B;
}

.local-navigation[b-kdm377npxk] {
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3%;
    height:500px;
}

.navigation-picture[b-kdm377npxk] {

}

.h[b-kdm377npxk] {
    color: #D72130;
    font-family: 'Open Sans', sans-serif;
}

main[b-kdm377npxk]{
    background-color:#F8F8F8;
}

p:link[b-kdm377npxk] {
    color: #0000d0;
    padding: 2px;
}

p:hover[b-kdm377npxk] {
    background: #E02232;
    color: #ffe;
} 
