<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - courses</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/courses.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <section class="header">
        <div class="header-container">
            <div class="logo">
                <div class="link-container">
                    <a href="" class="logo-link">Sports Hub</a>
                </div>             
            </div>

            <div class="blank-space">
                
            </div>

            <div class="user-container">
                <div class="switch-button">
                    <img src="~/switch.png" alt="" width="40" height="40">
                </div>
       
                <div class="user-info">
                    <div class="user-ava">
                        <img src="switch.png" alt="" width="40" height="40">
                    </div>

                    <div class="user-desc">
                        <p class="user-name">
                            Brandon Miles
                        </p>
                        <p class="user-role">
                            Administrator
                        </p>
                    </div>                 
                </div>
            </div>
        </div>
    </section>

    <section class ="middle-header">
        <div class="home">
            <p>
                Home
            </p>
        </div>

        <div class="bot-blank-space">
                
            </div>

        <div class="edit">
            <div>
                <p class ="cancel ">
                    &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
                <p class ="changes">
                    Save all changes
                </p>
            <div>

            </div>
        </div>
    </section>
   
    <section class ="bottom-header">
        <div class="sports">
            <p class="h">
                Home
            </p>
            
            <p>
                NBA
            </p>
            <p>
                NFL
            </p>
            <p>
                MLB
            </p>
            <p>
                CBB
            </p>
            
            <p>
                CFB
            </p>
            
            <p>
                NASCAR
            </p>
            
            <p>
                GOLF
            </p>
            
            <p>
                SOCCER
            </p>
            
            <p>
                VIDEO
            </p>
            
            <p>
                LIFESTYLE
            </p>
        </div>
    </section>
    </header>

        <main>
            <section class="local-navigation">
                <div class = "navigation-picture">
                <img src="surveys-button.png" alt="" width="50" height="40">
                </div>
                <div class = "navigation-picture">
                <img src="banners-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="languages-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="footer-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="social_networks-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="ussers-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="IA-button.png" alt="" width="40" height="40">
                </div>
            </section>
                        @RenderBody()
        </main>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>