<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - courses</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminpage.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <section class="header">
        <div class="header-container">
            <div class="logo">
                <div class="link-container">
                    <a href="/" class="logo-link">Sports Hub</a>
                </div>             
            </div>

            <div class="blank-space">
                
            </div>

            <div class="user-container">
                <div class="switch-button">
                    <img src="~/images/switch.png" alt="">
                </div>
                    <div class="user-ava">
                        <img src="~/images/switch.png" alt="">
                    </div>

                    <div class="user-desc">
                        <p class="user-name">
                            Brandon Miles
                        </p>
                        <p class="user-role">
                            Administrator
                        </p>
                    </div>                 
            </div>
        </div>
    </section>


     @RenderSection("SaveButton", required: false)
   
    <section class ="bottom-header">
        <div class="sports">
            @RenderSection("categoryList",false)
        </div>
    </section>
    <hr class="href-between-sections">
    </header>

        <main>
            <section class="local-navigation">
                <div class = "navigation-picture">
                <img src="~/images/surveys-button.png" alt="" width="50" height="40">
                </div>
                <div class = "navigation-picture">
                <img src="~/images/banners-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="~/images/languages-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="~/images/footer-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="~/images/social_networks-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="~/images/ussers-button.png" alt="" width="40" height="40">
                </div>
                <div class = "navigation-picture">
                    <img src="~/images/IA-button.png" alt="" width="40" height="40">
                </div>
            </section>

                @RenderBody()

        </main>

    <script src="~/js/DataClass.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>