.navbar {
    height: 83px;
    border-bottom: solid;
    border-color: #ededed;
    border-width: 1px;
    position: sticky;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: left;
}

.navbar-logo {
    background-color: #d72130;
    height: 83px;
    width: 18%;
    min-width: 340px;
    display: flex;
    justify-content: center;
}

.search-box {
    width: 33%
}

.search-button-and-field-input {
    display: flex;
    margin: auto;
}

input#header-search-field {
    height: 77px;
    width: 90%;
    margin: auto;
    margin-right: 2px;
    border-style: none;
}

button#search-button {
    border-color: white;
    border-style: none;
    background-color: white;
    width: 10%;
    height: 83px;
}

.search-result-articles {
    z-index: 1;
    background-color: white;
    position: absolute;
    max-height: 500px;
    overflow-y: scroll;
    padding: 22px 36px 30px 37px;
    width: 774px;
    display: none;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.0542504);
}

    .search-result-articles::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.search-result-articles {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.search-article-info {
    margin-bottom: 24px;
}

.search-article-top-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.find-words-search-article-top-info {
    color: black;
}

.image-arrow-in-search {
    margin: 0 3px;
}

.search-article-category-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #B2B2B2;
}

.search-article-subcategory-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #B2B2B2;
}

.search-article-team-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #B2B2B2;
}

.search-article-bottom-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}

.header-icons {
    width: 25px;
    height: 25px;
    margin: auto;
}

.header-icons:hover {
    filter: invert(16%) sepia(99%) saturate(7404%) 
    hue-rotate(355deg) brightness(86%) contrast(118%);
}

.social-media-box {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #ededed;
    display: flex;
    justify-content: space-between;
    width: 20%;
    border-width: 1px;
}
#subcategory-side {
    display: none;
}

#team-side {
    display: none;
}

#blureid {
    display: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
    padding-top: 60px;
    position: absolute;
}
.icon-keeper {
    display: flex;
    margin: auto;
    gap: 15px;
}

.account-box {
    display: flex;
    width: 20%;
}

.language-box {
    display: flex;
}

.sidebar {
    display: block;
    width: 220px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: left;
}

.real-sidebar {
    margin-top: 70px;
    margin-left: 50px;
    height: 500px;
}
.nav-siderbar {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: left;
    z-index: 2;
}
.menu-caption, .menu-new {
    width: 180px;
    font-size: 20px;
}
.menu-caption {
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
}
.menu-caption::-webkit-scrollbar {
        width: 5px;
        height: 3px;
    }
.menu-caption::-webkit-scrollbar-thumb {
        background: #d72130;
        height: 3px;

}

.sidebar {
    display: block;
    width: 220px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: left;
}
.subcategory-side {
    background-color: white;
    width: 300px;
}

.team-side {
    background: rgb(248, 248, 248);
    width: 200px;
}
.real-sidebar {
    margin-top: 70px;
    margin-left: 50px;
    height: 500px;
}

.menu-new {
    width: 100%;
    margin-top: 90px;
    margin-left: 0px;
    padding-left: 0px;
}
.sidebar li {
    margin-top: 0px;
    height: 50px;
    padding-bottom: 5px;
    list-style-type: initial;
}
.sidebar li:hover {
    color: #d72130;
}
.menu-new li {
    margin-top: 0px;
    height: 50px;
    list-style-type: initial;
    margin-left: 0px;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    -webkit-transform-origin: top;
}
.menu-new li {
}
.item-sidebar:hover {
    color: #d72130;
    background: rgba( 215, 33, 48, 0.4);
}

.menu-caption li::marker {
    color: rgba(255, 255, 255, 0);
}

.menu-caption li:hover::marker {
    color: #d72130;
}

.sidebar-socials {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.sidebar p {
    text-align: center;
}

.sidebar-socials div {
    padding:20px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.copyright-box {
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
  background-color: #d72130;
  height: 83px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
}

main {
    width: 100%;
    z-index: -1;
    position: relative;
}