@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans.woff") format('woff');
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/Roboto Condensed/RobotoCondensed-Regular.ttf") format('truetype');
}

html {
    position: relative;
    font-size: 18px;
    min-height: 100%;
}

body {
    margin: 0;
}

a {
    font-family: 'Open Sans';
    text-decoration: none;
}

/*Buttons, etc.*/
.small-button, .small-button-inversed {
    background-color: #d72130;
    font-weight: 500;
    height: 35px;
    width: 108px;
    border-style: none;
    margin: auto;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
}

    .small-button:hover {
        background-color: #e02232;
    }

    .small-button:focus {
        background-color: #c80515;
    }

.small-button-inversed {
    background-color: white;
    border-style: solid;
    border-color: #d72130;
    border-width: 2px;
    color: #d72130;
}

select {
    background-color: white;
    border-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

    select:hover {
        background-color: #fbe7e8;
        color: #d72130;
    }

    select#language-select{
        position: absolute;
        top: 40%;
    }


option {
    border: none;
    background-color: white;
    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

    option:hover {
        background-color: #fbe7e8;
        color: #d72130;
    }



        /*Text styles*/
        .h1-background-text {
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: bold;
            font-size: 192px;
            color: #f0f2f6;
            transform: rotate(90deg);
        }

.h2-heading-text {
    text-align: left;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: auto;
    color: #2b2f43;
}

.h3-heading-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2b2f43;
}

.caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7f8899;
    text-decoration: none;
}

.lable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.regular-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}


.logo-caption {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin: auto;
}

.menu-caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.newstag {
    background-color: #2f2f2f;
    display: flex;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 160px;
    height: 50px;
    margin-bottom: -50px;
    justify-content: center;
    position: relative;
}

.box-shadow:hover {
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.110932);
}

.buttons{
    display:flex;
    justify-content:space-between;
    width: 90%;
    align-items:center;
}