@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --red-main: #d72130;
    --red-hover: #e02232;
    --red-active: #c80515; 
    --fieldframe-dark: #7f8899;
    --fieldframe-light: #ccd3e0;
    --text-color-dark: #2b2f43;
}

.small-button {
    height: 30px;
    font-size: 12px;
}