@page
@model SportHub.Pages.AboutSportsHubModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/AboutSportsHub.css" asp-append-version="true" />
</head>

<div>
    <div class="return-box">
        <a href="/index">
            <p class="back red-accent"> <img src="~/icons/RedArrow.png" alt=""/>Back to the main page</p>
        </a>
    </div>
    <div class="content">
        <h1 id="title1" class="title">About Sports Hub</h1>
        <p class="text-area">afdsgagfgsfbsgbsnsgnsns</p>
    </div>
</div>

@section scripts {
    <script src="~/js/FooterConfiguration.js"></script>
}