@page
@using SportHub.Domain.Models
@model SportHub.Pages.AddArticleModel
@{
    ViewData["Title"] = "Add Article";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/AddArticle.css" asp-append-version="true" />
</head>
@{
    int p = 1;
}
@section SaveButton {
        <section class ="middle-header">
        <div class="home">
            <p>
                @Html.DisplayFor(model => model.Category.Name)
            </p>
        </div>
        <div class="edit">
            <div>
                <p class ="cancel ">
                    &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div >
                <p class ="changes"  onclick="save()">
                    Save all changes
                </p>
            <div>

            </div>
        </div>
    </section>
    
}
<from class="content" id="form1">
    <div class="add-language-box">
        <div class="languages">
            <label>PAGE LANGUAGES</label>
            <div class="lgbuttons">
                <button class="plusbutton"> + </button>   
                <button class="button"> English </button>    
                <button class="button"> French </button>            
                <button class="button"> German </button>
                <button class="button"> Spanish </button>
            </div>                
        </div>
    </div> 
    
    <div class="add-article-box">
        <div class="picture">        
            <label>PICTURE</label>
            <div class="area">
                <input type="file" id="upload" name="ImageLink">       
            </div>  
        </div>
    
        <div class="drop-down-fields">      
            <div class="select-box">            
                <label for="main-a-subcategories">SUBCATEGORY</label>           
                <select name="subcutegories" id="main-a-subcutegories" placeholder="Not Selected">
                    <option value="">Not Selected</option>
    
                </select>        
            </div>
      
            <div class="select-box">            
                <label for="main-a-teams">TEAM</label>            
                <select name="teams" id="main-a-teams" placeholder="Not Selected">
                    <option value="">Not Selected</option>
                </select>               
            </div>
       
            <div class="select-box">            
                <label for="main-a-locations">LOCATION</label>           
                <select name="main-a-locations" id="main-a-locations" placeholder="Not Selected">
                    <option value="">Not Selected</option>
                </select>        
            </div>    
        </div>

        <div class="required-fields">
            <div class="input-box">
                <label class="alt_label">ALT.*</label>
                <input class="alt_input" type="text" placeholder="Alternative text for picture" name="AlternativeText" required>
            </div>
            <div class="input-box">
                <label class="alt_label">Short Description Of The Picture.*</label>
                <input class="alt_input" type="text" placeholder="Short description of the picture" name="ShortDescriptionOfThePicture" required>
            </div>

            <div class="input-box">
                <label class="artheadline_label">ARTICLE HEADLINE*</label>
                <input class="artheadline_input" type="text" placeholder="Name" name="Title" required>
            </div>

            <div class="input-box">
                <label class="captiontext_label">CAPTION*</label>
                <input class="captiontext_input" type="text" placeholder="Write caption text here"  name="caption" required>
            </div>
            <div class="input-box">
                <label class="captiontext_label">CONTENT*</label>
            <div id="editor1" class="texteditor">
            </div>
            </div>

        </div>
    </div>   
</from>

@section scripts {
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <!--<script src="//cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script>-->
    <script>

    let editor = CKEDITOR.replace('editor1', {
        uiColor: '#AADC6E',
        height:500,
        autoGrow_maxHeight:1000
    });

    let category = {"id":@p };
    function save() {
        let data = {};
        // переберём все элементы input, textarea и select формы с id="myForm "
        $('#form1').find ('input, textearea, select').each(function() {

          data[this.name] = $(this).val();
        });
        console.log(data);
        let ReferenceItemId = @p;
        if (data["subcutegories"] != "") {
            ReferenceItemId = parseInt(data["subcutegories"]);
        }
        if (data["teams"] != "") {
            ReferenceItemId = parseInt(data["teams"]);
        }
        data["ReferenceItemId"] = ReferenceItemId;
        data["ContentText"] = editor.getData();
        data["ImageLink"] = "nyashka.png";
        console.log(data);
        $.ajax({
        url: '/SaveNewArticle',
        type: 'post',
        dataType: "json",
        data: JSON.stringify(data),
        async: false,
        headers:
        {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
        },
        }).done(function (date) {
             console.log("fff");
        });

    }       
    DateGetClass = new ExtendDateClass();

    function createSubcategory() {
    
        let sel = $('#main-a-subcutegories');
        let res = DateGetClass.getSubcategoryofCategory(category);
        $(res).each(function() {
            sel.append($("<option>").attr('value', this.id).text(this.name));
        });
    }
    $("#main-a-subcutegories").change(function(){

        let id = $(this).find(":selected").val();
        console.log(id);
        if (id == "") {
            $('#main-a-teams').empty();
            $('#main-a-teams').prop('disabled', true);
            return 0;
        }
        $('#main-a-teams').prop('disabled', false);
        createTeam({ "id": parseInt(id) });
    });
    createSubcategory();
    function createTeam(subcategory) {
        console.log(subcategory);
        let sel = $('#main-a-teams');
        sel.empty()
        sel.append($("<option>").attr('value', "").text("Not Selected"));
        let res = DateGetClass.getTeamofSubcategory(subcategory);
        $(res).each(function() {
            sel.append($("<option>").attr('value', this.id).text(this.name));
        });
    }
  </script>
}