@page
@model SportHub.Pages.AddArticleModel
@{
    ViewData["Title"] = "Add Article";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/AddArticle.css" asp-append-version="true" />
</head>
@{
    int p = @Model.itemId;
}
@section SaveButton {
        <section class ="middle-header">
        <div class="home">
            <p>
                @p
            </p>
        </div>
        <div class="edit">
            <div>
                <p class ="cancel ">
                    &nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div >
                <p class ="changes"  onclick="save()">
                    Save all changes
                </p>
            <div>

            </div>
        </div>
        <div class="bot-blank-space">
                
        </div>
    </section>
    
}
<div class="content">
    <div class="add-language-box">
        <div class="languages">
            <label>PAGE LANGUAGES</label>
            <div class="lgbuttons">
                <button class="plusbutton"> + </button>   
                <button class="button"> English </button>    
                <button class="button"> French </button>            
                <button class="button"> German </button>
                <button class="button"> Spanish </button>
            </div>                
        </div>
    </div> 
    
    <div class="add-article-box">
        <div class="picture">        
            <label>PICTURE</label>
            <div class="area">
                <input type="file" id="upload">       
            </div>  
        </div>
    
        <div class="drop-down-fields">      
            <div class="select-box">            
                <label for="main-a-subcategories">SUBCATEGORY</label>           
                <select name="main-a-subcutegories" id="main-a-subcutegories" placeholder="Not Selected">
                    <option>Not Selected</option>
    
                </select>        
            </div>
      
            <div class="select-box">            
                <label for="main-a-teams">TEAM</label>            
                <select name="main-a-teams" id="main-a-teams" placeholder="Not Selected">
                    <option>Not Selected</option>
                </select>               
            </div>
       
            <div class="select-box">            
                <label for="main-a-locations">LOCATION</label>           
                <select name="main-a-locations" id="main-a-locations" placeholder="Not Selected">
                    <option value="none">Not Selected</option>
                </select>        
            </div>    
        </div>

        <div class="required-fields">
            <div class="input-box">
                <label class="alt_label">ALT.</label>
                <input class="alt_input" type="text" placeholder="Alternative text for picture" />
            </div>

            <div class="input-box">
                <label class="artheadline_label">ARTICLE HEADLINE</label>
                <input class="artheadline_input" type="text" placeholder="Name" />
            </div>

            <div class="input-box">
                <label class="captiontext_label">CAPTION</label>
                <input class="captiontext_input" type="text" placeholder="Write caption text here" />
            </div>

             <div class="input-box">
                <label class="captiontext_label">CAPTION</label>
                <input class="captiontext_input" type="text" placeholder="Write caption text here" />
            </div>
            <div id="editor1" class="texteditor">
            </div>

        </div>
    </div>   
</div>

@section scripts {
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>

    var editor = CKEDITOR.replace( 'editor1' );
    editor.on( 'change', function( evt ) {
    console.log( 'Total bytes: ' + evt.editor.getData() );
    });

    function save() {
	    var  formData = [];
        console.log("as");
        $('form input[type=text]').each(function() {
            console.log(this.name, this.value);
        });
    }
    DateGetClass = new ExtendDateClass();
    let category = {"id":@p };
    function createSubcategory() {
    
        let sel = $('#main-a-subcutegories');
        let res = DateGetClass.getSubcategoryofCategory(category);
        $(res).each(function() {
            sel.append($("<option>").attr('value', this.id).text(this.name));
        });
    }
    $("#main-a-subcutegories").change(function(){

        let id = $(this).find(":selected").val();
        console.log(id);
        createTeam({ "id": parseInt(id) });
    });
    createSubcategory();
    function createTeam(subcategory) {
        console.log(subcategory);
        let sel = $('#main-a-teams');
        sel.empty()
        sel.append($("<option>").attr('value', "").text("Not Selected"));
        let res = DateGetClass.getTeamofSubcategory(subcategory);
        $(res).each(function() {
            sel.append($("<option>").attr('value', this.id).text(this.name));
        });
    }
  </script>
}