@page
@model SportHub.Pages.AdminPageModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin page";
}

@section SaveButton {
    <div class="edit">
        <div>
            <p class="cancel ">
                Cancel
            </p>
        </div>
        <p class="changes" id="save-changes-button">
            Save all
        </p>
    </div>
}

<div class="admin-configuration-block">
    <div class="main-articles_block" id="main-articles-block">
        <div class="section-caption-block">
            <div class="caption-line"></div>
            <div class="caption-block">
                <p>MAIN ARTICLES</p>
            </div>
            <div class="caption-line"></div>
        </div>
        <div class="break-line"></div>
        <div class="configuration-body">
            <div class="team-category-option-block">
                <div class="select-box">
                    <label for="main-a-categories">CATEGORY</label>
                    <select name="main-a-categories" id="tempid"></select>
                </div>
                <div class="select-box">
                    <label for="main-a-subcategories">SUBCATEGORY</label>
                    <select name="main-a-subcategories"></select>
                </div>
                <div class="select-box">
                    <label for="main-a-teams">TEAM</label>
                    <select name="main-a-teams"></select>
                </div>
            </div>
            <div class="article-option-block">
                <div class="select-box">
                    <label for="main-a-articles">ARTICLE</label>
                    <div class="main-a-articles-selector">
                        <option></option>
                    </div>
                    <div class="custom-selector-body"></div>
                </div>
            </div>
            <div class="action-buttons-block">
                <div class="delete-add-buttons-block">
                    <p class="delete-button disabled">Delete</p>
                    <p class="add-new-button">+ Add one more article</p>
                </div>
                <div class="show-hide-selector-box">
                    <p>Show on the main page</p>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="photo-of-the-day-block">
        <div class="section-caption-block">
            <div class="caption-line"></div>
            <div class="caption-block">
                <p>PHOTO OF THE DAY</p>
            </div>
            <div class="caption-line"></div>
        </div>
        <div class="image-upload-box" id="drop-section">
            <div class="day-photo-background-crop">
                <img id="day-photo-background-img" src="" />
            </div>
            <div class="editing-tools-box">
                <form class="add-photo-box" id="add-photo-form" enctype="multipart/form-data">
                    <label class="add-photo-button" for="photo-upload-input">
                        <img class="hide-on-draggedover add-photo-img" src="~/icons/photo-icon.svg" />
                    </label>
                    <p class="caption hide-on-draggedover">
                        <input id="photo-upload-input" name="imageFile" type="file" accept="image/png, image/jpg, image/jpeg, image/gif" />
                        <label for="photo-upload-input">Choose a file</label>
                        or drop it here
                    </p>
                    <p class="caption hide-on-draggedover">You can add next formats: .png .jpg .jpeg .gif </p>
                    
                    <img class="show-on-draggedover add-photo-img" src="~/icons/photo-icon.svg" />
                    <p class="caption show-on-draggedover">
                        Drop it here!!
                    </p>
                </form>
            </div>
        </div>
        <div class="photo-info-block">
            <form id="photo-info-form" name="photo-info-form">
                <div class="alt-input-section">
                    <label for="alt-input">Alt*</label>
                    <input id="alt-input" name="Alt" type="text" maxlength="70"/>
                </div>
                <div class="title-input-section">
                    <label for="title-input">Title*</label>
                    <input id="title-input" name="PhotoTitle" type="text" maxlength="60"/>
                </div>
                <div class="description-input-section">
                    <label for="description-input">Short description*</label>
                    <input id="description-input" name="ShortDescription" type="text" maxlength="150"/>
                </div>
                <div class="author-input-section">
                    <label for="author-input">Author*</label>
                    <input id="author-input" name="Author" type="text" maxlength="50"/>
                </div>
                <div class="show-hide-selector-box">
                    <p>Show on the main page</p>
                    <label class="switch">
                        <input type="checkbox" id="photo-of-day-isDisplayed">
                        <span class="slider round"></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="pop-up-banner" id="success-banner">
        <img class="status-icon" src="~/Images/ok-result.png" />
        <div class=" banner-text">
            <p class="caption bold-text">Published!</p>
            <p class="caption">Home page is successfully published.</p>
        </div>
        <img class="close-button" src="~/Images/close-button.png" />
    </div>
    <div class="pop-up-banner" id="error-banner">
        <img class="status-icon" src="~/Images/ok-result.png" />
        <div class=" banner-text">
            <p class="caption bold-text">Not published!</p>
            <p class="caption">Check your input and try again.</p>
        </div>
        <img class="close-button" src="~/Images/close-button.png" />
    </div>
</div>
<script src="~/js/adminpage.js"></script>