@page
@model SportHub.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password?";
}
@{  
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";  
} 
<link rel="stylesheet" href="~/css/forgotPassword.css" asp-append-version="true" />
<div class="topRightBtn">Don’t have an account?
        <button class="GetStartedBtn" id="GetStartedBtn" onclick="window.location='/SignUp';">Get Started</button> 
    </div>
<div class="d-md-flex half">
    <div class="rectang"><a href="../Index">Sports Hub</a></div>
   <div class="bg" style="background-image: url('@Url.Content("~/images/photo.jpg")')">
</div>
<div class="contents">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         <div class="col-md-12">
            <div class="form-block mx-auto" id="forgotPassword">
               <div class="title">
                  <h3 class="h3btn">Forgot your password?</h3>
               </div>
               <label class="resetInfo">Enter your email address below and we’ll get you back on track.</label>
               <div id="form-result" class="error"></div>
               <form method="post" id="requestResetPasswordEmail">
                  <label class="loginLables" asp-for="forgotPassword.Email">Email Address</label>
                  <div class="input_container" data-error="Incorrect user ID or password. Try again.">
                     <input
                        required
                        class="input_field" 
                        placeholder="Email@gmail.com"
                        type="email"
                        name="Email"
                        id="field_email"
                        asp-for="forgotPassword.Email"
                        />
                        <span class="text-dander" asp-validation-for="forgotPassword.Email"></span>
                  </div>
                  <input type="submit" value="Request reset link" class="btn btn-block btn-primary"/>
                  <div class="returnBtn"><a class="returnLink" href="/Login" >Back to Log In</a></div>
               </form>
            </div>
            <div class="form-block mx-auto" id="checkYourMail" >
                <div class="mailSent">
                    <div class="redletterDiv"><img class="redLetter" id="pol" src="@Url.Content("~/images/red-letter-icon.svg")" /></div>
                <div class="title">
                  <h3 class="h3btn" id="email"></h3>
               </div>
                 <label class="resetInfo">If there's Sports Hub account linked to this email address, we'll send over instructions to reset your password.</label>
                </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>