@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <h1 class="h1-background-text category-name">ALL</h1>
    <div class="news-column">
        <div class="primary-content-area">
            <div class="main-column"> 
                <div class="main-article">
                    <div class="newstag"><p>NBA</p></div>
                    <img src="/temp.png" class="main-article-photo" alt="Main article"/>
                </div>
            <div class="medium-news-container">
                <ul>
                    <li>
                        <div class="medium-news-box">
                            <img src="/temp.png" class="news-illustration" alt="Main article"/>
                            <p>Lorem ipsum</p>
                        </div>
                    </li>
                    <li>
                        <div class="medium-news-box">
                            <img src="/temp.png" class="news-illustration" alt="Main article"/>
                            <p>Lorem ipsum</p>
                        </div>
                    </li>
                    <li>
                        <div class="medium-news-box">
                            <img src="/temp.png" class="news-illustration" alt="Main article"/>
                            <p>Lorem ipsum</p>
                        </div>
                    </li>
                    <li>
                        <div class="medium-news-box">
                            <img src="/temp.png" class="news-illustration" alt="Main article"/>
                            <p>Lorem ipsum</p>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            

            <div class="feedback-column">

            </div>
        </div>
        

        <div class="secondary-content-area">

        </div>

    </div>
       


        
</div>
