@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<div class="content">
    <h1 class="h1-background-text category-name">ALL</h1>
    <div class="news-column">
        <div class="primary-content-area">
            <div class="main-column"> 
                <div class="main-article">
                    <div class="newstag"><p>NBA</p></div>
                    <img src="/temp.png" class="main-article-photo" alt="Main article"/>
                </div>
                <div class="medium-news-container">
                    <ul>
                        <li>
                            <div class="medium-news-box box-shadow">
                                <div class="medium-crop">
                                    <img class="medium-news-img" src="/temp.png" alt="Medium image"/>
                                </div>
                                <h3 class="h3-heading-text">Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </li>
                        <li>
                            <div class="medium-news-box box-shadow">
                                <div class="medium-crop">
                                    <img class="medium-news-img" src="/temp.png" alt="Medium image"/>
                                </div>
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </li>
                        <li>
                            <div class="medium-news-box box-shadow">
                                <div class="medium-crop">
                                    <img class="medium-news-img" src="/temp.png" alt="Medium image"/>
                                </div>
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </li>
                        <li>
                            <div class="medium-news-box box-shadow">
                                <div class="medium-crop">
                                    <img class="medium-news-img" src="/temp.png" alt="Medium image"/>
                                </div>
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="feedback-column">
                <h1 class="h1-background-text news-label">NEWS</h1>
            </div>
        </div>
        <div class="primary-content-area">
            <div class="main-column">
                <hr />
                <div class="separator-lable">
                    <p>BREAKDOWN</p>
                </div>
                <!--content here-->
                <div class="secondary-news-box">
                    <div class="left-part  box-shadow">
                        <div class="secondary-content-crop">
                             <div class="newstag"><p>NBA</p></div>
                             <img src="/temp.png" alt="Accent image"/>
                        </div>
                        <div class="secondary-content-title">
                            <h2 class="h2-heading-text">Lorem ipsum donor sint amet</h2>    
                        </div>
                        <img class="floating-icon" src="/icons/rightarrow.png" />
                    </div>
                    <div class="right-part">
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                    </div>
                </div>
                <div class="secondary-news-box">
                    <div class="left-part  box-shadow">
                        <div class="secondary-content-crop">
                             <div class="newstag"><p>NBA</p></div>
                             <img src="/temp.png" alt="Accent image"/>
                        </div>
                        <div class="secondary-content-title">
                            <h2 class="h2-heading-text">Lorem ipsum donor sint amet</h2>    
                        </div>
                        <img class="floating-icon" src="/icons/rightarrow.png" />
                    </div>
                    <div class="right-part">
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                        <div class="small-news-box box-shadow">
                            <div class="small-news-crop">
                                <img src="/temp.png" alt="Accent image"/>
                            </div>
                            <div class="small-news-textbox">
                                <h3 class="h3-heading-text">Title Title</h3>
                                <p class="caption">Lorem ipsum donor sit amet</p>
                            </div>
                            <img class="floating-icon" src="/icons/rightarrow.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback-column">
                
            </div>
        </div>
        <div class="primary-content-area">
            <div class="main-column">
                <hr />
                <div class="separator-lable">
                    <p>PHOTO OF THE DAY</p>
                </div>
                <div class="photo-of-the-day-tag">
                    <img src="/icons/Triangle.png" />
                     <p>PHOTO <br />OF THE <br />DAY</p>
                </div>
                <div class="photo-of-the-day-crop">
                    <img src="/temp.png" alt="Photo of the day"/>
                    <div class="photo-of-the-day-textbox">
                        <h2 class="h2-heading-text">Photo of the day title</h2>
                        <p class="regular-text">Photo of the day text text text text text text text text text text text </p>
                    </div>
                </div>
                <div class="best-news">
                    <div class="most-popular-block">
                        <p class="most-popular-label">MOST POPULAR</p>
                        <div class="most-popular-box">
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </div>
                    </div>
                    <div class="most-commented-block">
                        <p class="most-commented-label">MOST COMMENTED</p>
                        <div class="most-commented-box">
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                            <div class="small-news-box box-shadow">
                                <div class="small-news-crop">
                                    <img src="/temp.png" alt="Accent image"/>
                                </div>
                                <div class="small-news-textbox">
                                    <h3 class="h3-heading-text">Title Title</h3>
                                    <p class="caption">Lorem ipsum donor sit amet</p>
                                </div>
                                <img class="floating-icon" src="/icons/rightarrow.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback-column">
                
            </div>
        </div>
    </div>    
</div>
