.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category-name {
    margin-left: -100px;
    margin-top: 78px;
    position: absolute;
    z-index: -1;
}

.news-column{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: row;
    margin-left: 6%;
    margin-top: 85px;
}

.primary-content-area {
    width: 100%;
}

.main-column {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.feedback-column {
    width: 28%;
}

.main-article-photo {
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
}

.medium-news-container {
    display: flex;
    width: 100%;
}

.medium-news-container li {
    list-style-type: none;
    width: 23%
}

.medium-news-container ul {
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.medium-news-box {
    display: flex;
    flex-direction: column;
    height: 335px;
    border: solid;
}

.medium-news-img{
    width: 85%;
    height: 45%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
}

.medium-news-box p{
    margin: 0% 7% 7% 7%;
}

.medium-news-box h3 {
    margin: 2% auto 3% 7%;
}

.floating-icon {
    position: relative;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: auto;
    margin-top: auto;
    opacity: 0;
}

.medium-news-box:hover .floating-icon {
    opacity: 1;
}