@page
@model SportHub.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
@{  
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";  
} 
<link rel="stylesheet" href="~/css/forgotPassword.css" asp-append-version="true" />
<div class="topRightBtn">Don’t have an account?
        <button class="GetStartedBtn" id="GetStartedBtn" onclick="window.location='/SignUp';">Get Started</button> 
    </div>
<div class="d-md-flex half">
    <div class="rectang"><a href="../Index">Sports Hub</a></div>
   <div class="bg" style="background-image: url('@Url.Content("~/images/photo.jpg")')">
</div>
<div class="contents">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         <div class="col-md-12">
            <div class="form-block mx-auto" id="resetPassword">
               <div class="title">
                  <h3 class="h3btn">Please enter your new password.</h3>
               </div>
               <label class="resetInfo">Enter your email address below and we’ll get you back on track.</label>
               <div id="reset-result" class="error"></div>
               <form method="post" id="setNewPassword">
                  <label class="loginLables" >New password</label>
                  <div class="input_container">
                     <input
                        required
                        class="input_field" 
                        placeholder="new password"
                        type="password"
                        name="New password"
                        id="field_newPassword"
                        />
                  </div>
                  <label class="loginLables" >Password</label>
                  <div class="input_container">
                     <input
                        required
                        class="input_field" 
                        placeholder="confirm password"
                        type="password"
                        name="Confirm password"
                        id="field_confirmPassword"
                        />
                  </div>
                  <input type="submit" value="Set new password" class="btn btn-block btn-primary"/>
                  <div class="returnBtn"><a class="returnLink" href="/Login" >Back to Log In</a></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>