@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@model SportHub.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "_SignUpLayout";
}

<div class="signup-page-container">
    <div class="signup-header">
        <div class="signup-logo">
            <a href="../Index">Sports Hub</a>
        </div>
        <div class="signup-login-redirect">
            <p>Already have an account?</p>
            <button onclick="window.location.href='../Login'">Log In</button>
        </div>
    </div>
    <div class="left-container">
        <img src="~/images/Rectangle.png" />
    </div>
    <div class="right-container">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="@_configuration["Authentication:Google:ClientId"]"
         data-context="signup"
         data-ux_mode="popup"
         data-callback="handleGoogleCredentialResponseSignup"
         style="display: none; visibility: hidden">
    </div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=646098686739937&autoLogAppEvents=1&version=v2.8" nonce="mwAIXunn"></script>
    <div id="fb-root"></div>
        <div class="signup-block">
            <div class="signup-header-block">
                <p class="menu-caption">Create Account</p>
                <div class="signup-icons">
                    <a href="#" onclick="handleFacebookResponseSignup();"><img src="~/images/Facebook.svg" alt=""></a>
                    <div class="g_id_signin"
                         data-type="icon"
                         data-shape="circle"
                         data-theme="filled_black"
                         data-text="signup_with"
                         data-size="medium">
                    </div>
                </div>
                <p class="body-text">Or use your email for registration:</p>
                <p id="signup-response">responce</p>
            </div>
            <form id="signup-form" method="post">
                <div class="double-input-box">
                    <div>
                        <label asp-for="signupCredentials.FirstName"></label>
                        <input type="text" id="firstname-input" placeholder="John" asp-for="signupCredentials.FirstName" />
                    </div>
                    <div>
                        <label asp-for="signupCredentials.LastName"></label>
                        <input type="text" id="lastname-input" placeholder="Doe" asp-for="signupCredentials.LastName" />
                    </div>
                </div>
                <div class="single-input-box">
                    <label asp-for="signupCredentials.Email"></label>
                    <input type="text" id="email-input" placeholder="johndoe@@gmail.com" asp-for="signupCredentials.Email" />
                </div>
                <div class="single-input-box">
                    <label asp-for="signupCredentials.PasswordHash"></label>
                    <input type="password" id="password-input" placeholder="8+ characters (letters and numbers)" asp-for="signupCredentials.PasswordHash" />
                </div>
                <button type="submit" class="small-button">Sign Up</button>
            </form>
        </div>
    </div>
</div>