<configuration>
	<appSettings>
		<add key="loginPage" value="https://localhost:7128/login"/>
		<add key="resetPasswordPage" value="https://localhost:7128/ResetPassword?token="/>
		<add key="loginEmailPath" value="/wwwroot/emails/signupEmail.html"/>
		<add key="resetPasswordEmailPath" value="/wwwroot/emails/resetPasswordEmail.html"/>
	</appSettings>
</configuration>