@page
@model SportHub.Pages.Admin.UserManagementModel
@{
    ViewData["Title"] = "User Management";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/userManagementPage.css" asp-append-version="true" />
</head>

<section class="content-box">
    <div class="users-management-box">
        <div class="tabs-box">
            <p id="users-tab" class="tab-name red-accent">Users</p>
            <p id="admins-tab" class="tab-name">Admins</p>
        </div>
            <div class="user-table">
                <div class="table-header">
                    <div class="name-col">
                        <p class="column-caption">NAME</p>
                    </div>
                    <div class="status-col">
                        <p class="column-caption">STATUS</p>
                    </div>
                    <div class="action-col">
                        <p class="column-caption">ACTIONS</p>
                    </div>
                </div>
                <div class="table-body">
                    <ul id="table-row-keeper">
                          <li id="user-0" class="table-row box-shadow" isactive="false" isadmin="">
                                <div class="name-col">
                                    <p id="name-label" class="button-text"></p>
                                </div>
                                <div class="status-col">
                                    <p class="status-label button-text">Active</p>
                                </div>
                                <div class="action-col">
                                    <!--Custom dropdown section-->
                                    <div class="custom-dropdown-body box-shadow">
                                        <div class="custom-dropdown-selected" actiontype="">
                                            <div class="space-button"> </div>

                                            <p class="button-text selected-value"> </p>

                                            <div class="arrow-button">
                                                <img class="down-arrow" src="../icons/Polygon.svg" />
                                            </div>
                                        </div>
                                        <div id="dropdown-options-user-0" class="custom-dropdown-options">
                                            <div class="custom-option blue-option" optionstyle="blue-option" id="grant-admin">
                                                <p class="button-text">
                                                Make as Admin</p>
                                            </div>
                                            <div class="custom-option green-option" optionstyle="green-option" id="activate">
                                                <p class="button-text">Activate</p>
                                            </div>
                                            <div class="custom-option grey-option" optionstyle="grey-option" id="block">
                                                <p class="button-text">Block</p>
                                            </div>
                                            <div class="custom-option red-option" optionstyle="red-option" id="delete">
                                                <p class="button-text">Delete</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                    </ul>
                </div>
            </div>
        <div class="admin-table" style="display: none">
            <div class="table-header">
                <div class="name-col">
                    <p class="column-caption">NAME</p>
                </div>
                <div class="status-col">
                    <p class="column-caption">STATUS</p>
                </div>
                <div class="action-col">
                    <p class="column-caption">ACTION</p>
                </div>
            </div>

            <div class="table-body">
                <ul id="admin-table-row-keeper">
                        <li id="admin-0" class="table-row box-shadow" isactive="">
                            <div class="name-col">
                                <p id="name-label" class="button-text"> </p>
                            </div>
                            <div class="status-col">
                                    <p class="status-label button-text">Active</p>
                            </div>
                            <div class="action-col">
                                <!--Custom dropdown section-->
                                <div class="custom-dropdown-body box-shadow">
                                    <div class="custom-dropdown-selected" actiontype="">
                                        <div class="space-button"></div>

                                        <p class="button-text selected-value"></p>

                                        <div class="arrow-button">
                                            <img class="down-arrow" src="../icons/Polygon.svg" />
                                        </div>
                                    </div>
                                    <div id="dropdown-options-admin-0" class="custom-dropdown-options">
                                        <div class="custom-option red-option" optionstyle="red-option" id="remove-admin">
                                            <p class="button-text">Remove from Admin</p>
                                        </div>
                                        <div class="custom-option grey-option" optionstyle="grey-option" id="delete">
                                            <p class="button-text">Delete</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script src="~/js/userManagement.js"></script>