@page
@{
    ViewData["Title"] = "No such page";
}
<link rel="stylesheet" href="~/css/errors.css" asp-append-version="true" />
<div class="errorContent">
    <img src=~/images/ErrorImg.svg/>
    <h1 class="statusCode">404</h1>
    <p class="details">Oops, something went wrong</p>
</div>


