@page "/admin/navigationitem"
@model SportHub.Pages.Admin.ManageNavigationItems.IndexModel
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
@section SaveButton {
    <div class = "save-button-contener">
        <p class = "Information-Architecture">Information-Architecture</p>
        <button class = "SaveButton" id = "SaveButtonId" onclick = "saveItem()">Save</button>
    </div>
}
<head>
    <link rel="stylesheet" href="~/css/NavigationItem.css" asp-append-version="true" />
</head>
<div id="screen">
   <div class="spawn" id="anim">
       <div class="spawn-contener" >
       <img src="~/Images/ok-result.png" alt=""class="ok-img">
       <img src="~/Images/close-button.png" alt=""  id="spawn-close" onclick="closespawn()">
       <div class="text">
           <p class="saved">Saved</p>
           <p class="saved-m">The information architecture is successfuly saved!</p>
       </div>
       </div>
   </div>
  <div class ='contener-for-adding' style ="display: none" id = 'formid'>

    <form class= "form-to-add" id = 'form-for-adding'>
        <div class = 'main-content'>
        <span class="text-lable" id = 'labe-with-description'>Add</span>
        <label for="Name"><b>Name</b></label>
        <input type="text" placeholder="Name of your menu item" name="Name" required  id = 'item-name-input'>
        <div class ='addbutton' id = 'add-button-id'>Add</div>
        <div onclick="document.getElementById('formid').style.display='none'" class="cancelbtn">Cancel</div>
        </div>
    </form>

  </div>
<div class = 'Category-Contener' id = 'Category-Contener'>

  <ul class='Category' id = 'Category'>

  </ul>
</div>
@section scripts {
<script src=~/js/ManagenavigationItem.js asp-append-version="true"></script>
}